@import 'modules/sortable';

body {
  margin: 0 auto;
  max-width: 1020px;
}

// Schedule
.column-half-all {
  float: left;
  width: 50%;
}

.information-details {
  list-style: none;
  padding: 0;
  li {
    border-top: 1px solid #ddd;
    padding: 10px 0 30px 0;
  }
}

.grouping {
  border: 1px solid #222;
  margin-bottom: 10px;
  padding: 20px;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
}

.schedule {
  list-style: none;
  padding: 0;
}

// Terms

ol {
  counter-reset: num;
}
.standard-terms {
  padding: 0;
  list-style: none;
  li > ol {
    list-style: none;
    padding: 1em;
    li {
      display: block;
      position: relative;
      margin: 1em 0;
      line-height: 1.5em;
    }
  }
  .glyphicon-move {
    color: white;
    position: relative;
    top: -25px;
    left: 1em;
  }
}
.standard-terms li[title]::before {
    content: counters(num, ".") ". " attr(title);
    counter-increment: num;
    background-color: #222;
    color: #FFFFFF;
    padding: 0.5em 0.5em 0.5em 3em;
    display: block;
}
.standard-terms li::before {
    content: counters(num, ".") ". ";
    counter-increment: num;
    font-weight: 600;
}
