@import 'variables';
@import 'modules/sortable';
@import 'modules/meta';
@import 'modules/editor';

body {
  margin: 0 auto;
  max-width: 1020px;
}

.clearfix {
  overflow: auto;
}

.contract-status {
  font-size: 18px;
  background: #222;
  color: #fff;
  padding: 6px 12px;
  margin-left: 12px;
  border-radius: 16px;
}

.editor {
  margin-top: 20px;
  padding: 20px;
  background: #f8f8f8;
}

// Schedule
.schedule-group {
    border-top: 1px solid #222;
    margin-bottom: 2em;
    h3 {
      font-size: 1.4em;
    }
}

.table {
  margin-bottom: 0;
  td:first-child {
    width: 30px;
  }
  td:nth-child(2) {
    width: 40%;
  }
  td:last-child {
    width: 30px;
  }
}

// Terms

ol {
  counter-reset: num;
}
.standard-terms {
  padding: 0;
  list-style: none;
  li > ol {
    list-style: none;
    padding: 1em;
    li {
      display: block;
      position: relative;
      margin: 1em 0;
      line-height: 1.5em;
    }
  }
  .glyphicon-move {
    color: white;
    position: relative;
    top: -25px;
    left: 1em;
  }
}
.standard-terms li[title]::before {
    content: counters(num, ".") ". " attr(title);
    counter-increment: num;
    background-color: #222;
    color: #FFFFFF;
    padding: 0.5em 0.5em 0.5em 3em;
    display: block;
}
.standard-terms li::before {
    content: counters(num, ".") ". ";
    counter-increment: num;
    font-weight: 600;
}
