@import 'variables';

// Sortable
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.placeholder {
  position: relative;
  background: $grey;
  height: 30px;
  width: 100%;
  display: block;
}

.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
